{% load staticfiles %}
<html>
    <head>
        <title>Another Courses Registration System</title>
        <meta name="google-site-verification" content="heYQQP2X0bjqjWiL4Olw3CcxLqyeFCBT4VCdMzEMY5o" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
        <link rel="stylesheet" href="https://storage.cloud.google.com/course.sten.website/static/css/reset.css"> <!-- CSS reset -->
        <link rel="stylesheet" href="https://storage.cloud.google.com/course.sten.website/static/css/style.css"> <!-- Resource style -->
        <link rel="stylesheet" href="https://storage.cloud.google.com/course.sten.website/static/css/course.css">
        <script src="https://storage.cloud.google.com/course.sten.website/static/js/modernizr.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="https://storage.cloud.google.com/course.sten.website/static/js/main.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/courses/">Course Registration</a>
                </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                <li>User: {{ user.get_username }}</li>
                <li><a href="/"><span class="glyphicon glyphicon-list-alt"> Courses List</span></a></li>
                <li><a href="{% url 'courses.views.course_new' %}"><span class="glyphicon glyphicon-plus"> Add New Course</span></a></li>
                <li><a href="{% url 'courses.views.user_detail' pk=user.pk %}"><span class="glyphicon glyphicon-calendar"> My Schedule</span></a></li>
                <li><a href="{% url 'logout'%}?next={{request.path}}"><span class="glyphicon glyphicon-log-out"> Logout</span></a></li>
                {% else %}
                <li><a href="/"><span class="glyphicon glyphicon-list-alt"> Courses List</span></a></li>
                <li><a href="{% url 'login'%}?next={{request.path}}"><span class="glyphicon glyphicon-log-in"> Login</span></a></li>
                {% endif %}
            </ul>
            </div>
        </div>
    </nav>

    <div class="content">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
