{% extends 'courses/base.html' %}

{% block content %}
    <div class="date">
        <a cddlass="btn btn-default" href="{% url 'course_edit' pk=course.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    </div>

    <table class="table-striped table-bordered">
        <tbody>
        <tr><td>Course Name</td><td>{{ course.number }}::{{ course.name }}</td></tr>
        <tr><td>Instructor</td><td>{{ course.instructor }}</td></tr>
        <tr><td style="vertical-align: top;">Description</td><td>{{ course.desc }}</td></tr>
        <tr><td>Date/Time</td><td>{{course.get_weekday_display}}{{ course.get_start_display }} to {{course.get_end_display}}</td></tr>
        <tr><td>Capacity</td><td>{{ course.capacity }}</td></tr>
        <tr><td>Unit</td><td>{{ course.unit }}</td></tr>
        <tr><td>Room</td><td>{{ course.room }}</td></tr>
        <tr><td>Status</td><td>
        {% if isExist %}
        Registered
        {% else %}
        Not Registered
        {% endif %}</td></tr>
        <tr><td>Action</td>
            <td>
                {% if isExist %}
                <span><a href="{% url 'course_deregister' pk=course.pk upk=user.pk %}">drop this course</a></span>
                {% else %}
                <span><a href="{% url 'course_register' pk=course.pk upk=user.pk %}">register this course</a></span>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
